{% load static %}
{% load icons %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Payvora – Smart VTU & Bills Platform{% endblock %}</title>
  <meta name="description" content="{% block meta_desc %}Payvora – Nigeria's most reliable VTU platform. Buy data, airtime, pay bills, and earn rewards.{% endblock %}" />
  <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{% icon 'home' size='24' %}</text></svg>" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% block extra_head %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

<script src="{% static 'js/main.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
